---
layout: base.njk
title: home
---
<div class="mx-auto max-w-5xl lg:px-8 px-4">
    <h2 class="text-3xl font-display">I'm Steven,<br> 
    and this is my personal space on the open web.
    </h2> 
    <div class="blog lg:text-xl my-3">
        <p>I’ve worked at the intersection of communications, politics, and policy – starting on Election Day 2008 covering my first town council meeting to advancing the mission of New Jersey’s leading non-profits and state agencies.</p>
        <p class="px-5 my-3">I now lead public relations at 
            <a class="" href="https://taradowdellgroup.com">Tara Dowdell Group.</a>
        </p>
    </div>
</div>
<div class="bg-gray-300">
    <div class="px-4 sm:px-6 lg:px-8">      
        <div class="mx-auto max-w-5xl mt-10 mb-16 py-12 text-center lg:py-14">
            <h3 class="text-center font-bold text-gray-900 text-3xl"> Feel free to reach out by 
                <a class="hover:text-white" rel="me" href="mailto:steven@smgalante.com">emailing me</a> 
                or 
                <a class="hover:text-white" rel="me" href="https://mastodon.social/@smgalante">following me on Mastodon.</a>  
            </h3>
        </div>   
    </div>
</div>