---
layout: base.njk
title: now
---
<div class="mx-auto max-w-5xl text-lg">
    <h1 class="text-7xl text-center"> {{ title }}</h1>
    <div class="container">
        <p class="text-xl mx-3 sm:px-4 my-2">Here are the things I'm most focused on in 2023:</p>
        <ul class="sm:leading-8 pl-8 mt-2">
            <li class="list-disc">
            Public Relations Manager at <a href="taradowdellgroup.com">Tara Dowdell Group</a>
            </li>
            <li class="list-disc">
            Trying to brush up on my programming skills (currently: JavaScript, Node.js, Python)
            </li>
            <li class="list-disc">  
                <p>What I've been <a class="" href="https://letterboxd.com/smgalante">watching</a> and <a class="text-red-900" href="https://www.goodreads.com/smgalante">reading</a>
            </li>
            <li class="list-disc">
                <p>I update <a class="" href="https://mastodon.social/@smgalante">Mastodon</a>, <a class="text-red-900" href="https://www.linkedin.com/in/smgalante/">LinkedIn</a>, and <a class="text-red-900" href="https://www.instagram.com/">Instagram</a> with some regularity</p>
            </li>
        </ul>
    </div>
    <div class="mt-5">
        <p class="text-xs">This page is inspired by <a class="" href="https://nownownow.com/">@nownownow</a>.</p>
    </div>
</div>