---
layout: base.njk
title: blog
---

<div>
    <div class=" mx-auto max-w-5xl text-lg">
        <div class="my-2.5">    
            <h2 class="text-7xl text-center mb-4">Blog</h2>
        </div>
    </div>
<!--
<ul>
    {%for post in collections.posts %}
        <li><a class="text-red-900" href="{{post.url}}">{{ post.data.title }}</a><br>{{ post.date }}</li>
    {% endfor %}
</ul>
-->
</div>