---
layout: base.njk
title: blog
---

<div class=" mx-auto max-w-5xl text-lg">
    <div class="my-2.5">    
        <h2 class="text-7xl text-center mb-4"> {{ title }} </h2>
    </div>
    <div class="px-4">
        <p>I sometimes like to expand upon thoughts, ideas, and experiences that doesn't relate to my other work in the comms space. I'm also reexploring writing for the public once again, with this blog being that outlet.</p> 
    <div class="relative p-4 sm:px-6 lg:px8">
        <ul>
          {%for post in collections.posts %}
             <li class="py-2"><a class="" href="{{ post.url }}">{{ post.data.title }}</a> - {{ post.data.description }} <br> <small>{{ post.date }}</small> </li>
         {% endfor %}
        </ul>
    </div>

</div>