---
pagination:
    data: collections
    size: 1
    alias: tag
    addAllPagesToCollections: true
layout: base.njk
permalink: /blog/tag/{{ tag | slugify }} 
eleventyComputed:
    title: Posts Tagged with {{ tag }}

---

<h1>Posts Tagged with {{ tag }}</h1>